$primaryBackgroundColor: #fff;
$secondaryBackgroundColor: #FFF;
$primaryDarkColor: #222;
$primaryCardColor: #FFF;
$primaryLightColor: #fefefe;
$primaryColor: #6A6A77;
$lightColor: #F0F0F0;
$primaryFontColor: #F0F0F0;
$secondaryFontColor: #A0A0A0;
$inputColor: #F7F7F7;
$primaryGradientColor: linear-gradient(
  45deg,
  rgba(157, 104, 238, 1) 0%,
  rgba(226, 53, 157, 1) 100%
);
$tagColor: #88889C;
$lighterColor: #f7f7f7;

$alertColor: #e85a71;
$brandColor: #78a4fa;
$wechatColor: #09bb07;
$brandShadow: rgba(120, 164, 250, 1);